:root {
  --primary: #1976d2;
  --primary-010: #449af0;

  --text-menu: #0f4c81;
  --text-menu-button: #f0efef;

  --button-insert: #00ccff;
  --button-insert-010: #0291b4;

  --black: #000000;

  --red: #c90025;
  --red-010: #a3001e;

  --white: #fff;
  --grey: #bbb7b7;
}
